* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 80vh;
  margin: auto;
}

.square {
  flex: 0 1 6.25%;
  height: 25px;
  border: 1px solid rgb(0, 0, 0);
}

.container>div:nth-child(16n + 1) {
  /* Line break every 16 squares to keep grid alignment */
  width: 100%;
  border: 0;
  height: 0;
}