 * {
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 500px;
  height: 500px;
  margin: auto;
  flex-direction: column;
}

.square {
  flex: 1;
  border: 1px solid rgb(0, 0, 0);
}

.gridRow {
  display: flex;
  flex: 1;
}